doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title JS Parts

    // CSS
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.1/destyle.min.css")
  body#js-parts
    main
      // ハンバーガーメニュー
      section#toggle-menu
        .wrap
          #btn-toggle
            button.js-toggle-open
              span
              span
              span
          nav#nav-menu.js-toggle-menu(style="display:none;")
            ul#menu
              li
                a(href="http://") メニュー
              li
                a(href="http://") メニュー
              li
                a(href="http://") メニュー
              li
                a(href="http://") メニュー
              li
                a(href="http://") メニュー
              li
                a(href="http://") メニュー

      // タブ切り替え
      section#tab
        .wrap.p-8
          #tab-hd
            .tab-menu.tab1.js-tab-btn
              button Tab1
            .tab-menu.tab2.js-tab-btn
              button Tab2
            .tab-nav.js-tab-nav
          ul#tab-1.tab-content.js-tab-content
            li ・タブ1の内容が入りますタブ1の内容が入りますタブ1の内容が入りますタブ1の内容が入ります
            li ・タブ1の内容が入りますタブ1の内容が入りますタブ1の内容が入りますタブ1の内容が入ります
            li ・タブ1の内容が入りますタブ1の内容が入りますタブ1の内容が入りますタブ1の内容が入ります
            li ・タブ1の内容が入りますタブ1の内容が入りますタブ1の内容が入りますタブ1の内容が入ります
          ul#tab-2.tab-content.js-tab-content
            li ・タブ2の内容が入りますタブ2の内容が入りますタブ2の内容が入りますタブ2の内容が入ります
            li ・タブ2の内容が入りますタブ2の内容が入りますタブ2の内容が入りますタブ2の内容が入ります
            li ・タブ2の内容が入りますタブ2の内容が入りますタブ2の内容が入りますタブ2の内容が入ります
            li ・タブ2の内容が入りますタブ2の内容が入りますタブ2の内容が入りますタブ2の内容が入ります
      // スライダー
      section#slider
        .wrap.overflow-hidden
          ul#slider-contents.js-slider
            li.js-slide-num(data-num="1") 1
            li.js-slide-num(data-num="2") 2
            li.js-slide-num(data-num="3") 3
            li.js-slide-num(data-num="4") 4
            li.js-slide-num(data-num="5") 5
          ul#slider-nav.js-slide-nav
            li#slider-prev
              a.js-slide-prev(href="#")
                i.fa.fa-arrow-left(aria-hidden="true")
            li#slider-next
              a.js-slide-next(href="#")
                i.fa.fa-arrow-right(aria-hidden="true")
          ul#slider-dot.js-slider-dots

      // SVG
      section#svg
        .wrap

      // Scroll Timeline
      section#scroll-tl.js-scroll-tl
        .wrap.p-8
          ul
            li.tl-wrap.js-tl-wrap
              span.tl-line
              dl.inner
                dt.tl-num 1996年
                dd.tl-content
                  dl
                    dt 誕生
                    dd 埼玉県に生まれる
            li.tl-wrap.js-tl-wrap
              span.tl-line
              dl.inner
                dt.tl-num 1996年
                dd.tl-content
                  dl
                    dt 誕生
                    dd 埼玉県に生まれる

      // Text fadein
      section#text-fadein.flex.items-center.justify-center.js-text-fadein
        .wrap.p-8
          p.js-tf-text 初めまして、こんにちは。
